@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(192, 221, 168);
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: rgba(47, 48, 49, 0.746);
  text-align: center;
}

.item {
  width: 150px;
  height: 50px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(12, 11, 11, 0.856);
  border-radius: 20px;
  background: #d18cd1;
  padding: 0.8rem 1rem;
  color: #3f3b3b;
  text-align: center;
  cursor: grab;
  }

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(to top right, #eff156, #229efd);
}

.progress {
  background: linear-gradient(to top right, #5ddf58, #68e0cf);
}

.done {
  background: linear-gradient(to top right, #84fab0, #d82be7);
}

.hold {
  border: 5px solid rgb(189, 185, 185);
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid #8ed7ed; 
}